#main {
	width: 100%;
	height: 963px;
	position: relative;
	font-family: 'NanumSquare', sans-serif;

	//swiper
	> .swiper {
		width: 100%;
		height: 100%;
		position: relative;
		background-color: #97f7db;
		transition: 0.8s;
		overflow: hidden;
		.swiper-slide {
			width: 100%;
			height: 100%;
			transition: 0.5s;
			.inner {
				width: 1200px;
				height: 545px;
				margin: 70px auto 0;
				position: relative;
				.box {
					position: absolute;
					top: 60px;
					left: 5%;
					width: 530px;
					z-index: 1;
					.flag {
						display: inline-block;
						padding: 5px 7px 3px;
						border-top: 1px solid rgba(0, 0, 0, 0.3);
						border-bottom: 1px solid rgba(0, 0, 0, 0.3);
						color: rgba(0, 0, 0, 0.7);
						font-size: 19px;
						font-weight: 700;
						line-height: 1.2;
					}
					.tit {
						max-height: none;
						padding-right: 0;
						margin: 17px 0 30px;
						color: #222;
						font-size: 40px;
						font-weight: 700;
						line-height: 1.3;
						-webkit-line-clamp: unset;
						text-overflow: unset;
					}
					.desc {
						max-height: none;
						margin: -12px 0 35px;
						color: #222;
						font-size: 20px;
						-webkit-line-clamp: 4;
					}
					.btn {
						margin: 0 -5px;
						text-align: left;

						a {
							display: inline-block;
							height: 46px;
							padding: 12px 27px 0px;
							border-radius: 23px;
							background-color: rgba(0, 0, 0, 0.1);
							color: #222;
							font-size: 14px;
							line-height: 23px;
							cursor: pointer;
							margin: 0px 5px;
							span {
								padding-right: 18px;
								background: url(../../../../public/img/sub_page/카드/btn.png)
									no-repeat right 7px;
								display: inline-block;
							}
							&:hover {
								background-color: #000;
								color: #fff;
								transition: background-color 0.4s;
								span {
									background: url(../../../../public/img/sub_page/카드/btn2.png)
										no-repeat right 7px;
								}
							}
						}
					}
				}
			}
		}
		.imgBox {
			position: relative;
			min-height: 545px;
			z-index: 3;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 550px;
				transition: top 0.8s 0.5s; //
			}
		}
		.swiper-slide.notice {
			.imgBox {
				img {
					left: 50px;
				}
			}
		}
		.swiper-slide.event1 {
			.imgBox {
				img {
					left: 160px;
				}
			}
		}
		.swiper-slide.event2 {
			.imgBox {
				img {
					left: 50px;
				}
			}
		}
		.swiper-slide.event3 {
			.imgBox {
				img {
					left: 50px;
				}
			}
		}
		.swiper-slide.swiper-slide-active {
			.imgBox {
				img {
					top: 0;
				}
			}
		}
		.slider {
			width: 100%;
			height: 100%;
			transition: 0.5s;
			display: flex;

			article {
				width: 100%;
				height: 100%;
				transition: 0.5s;
				.inner {
					width: 1200px;
					height: 545px;
					margin: 70px auto 0;
					position: relative;
					.box {
						position: absolute;
						top: 60px;
						left: 5%;
						width: 530px;
						z-index: 1;
						.flag {
							display: inline-block;
							padding: 5px 7px 3px;
							border-top: 1px solid rgba(0, 0, 0, 0.3);
							border-bottom: 1px solid rgba(0, 0, 0, 0.3);
							color: rgba(0, 0, 0, 0.7);
							font-size: 19px;
							font-weight: 700;
							line-height: 1.2;
						}
						.tit {
							max-height: none;
							padding-right: 0;
							margin: 17px 0 30px;
							color: #222;
							font-size: 40px;
							font-weight: 700;
							line-height: 1.3;
							-webkit-line-clamp: unset;
							text-overflow: unset;
						}
						.desc {
							max-height: none;
							margin: -12px 0 35px;
							color: #222;
							font-size: 20px;
							-webkit-line-clamp: 4;
						}
						.btn {
							margin: 0 -5px;
							text-align: left;

							a {
								display: inline-block;
								height: 46px;
								padding: 12px 27px 0px;
								border-radius: 23px;
								background-color: rgba(0, 0, 0, 0.1);
								color: #222;
								font-size: 14px;
								line-height: 23px;
								cursor: pointer;
								margin: 0px 5px;
								span {
									padding-right: 18px;
									background: url(../../../../public/img/sub_page/카드/btn.png)
										no-repeat right 7px;
									display: inline-block;
								}
								&:hover {
									background-color: #000;
									color: #fff;
									transition: background-color 0.4s;
									span {
										background: url(../../../../public/img/sub_page/카드/btn2.png)
											no-repeat right 7px;
									}
								}
							}
						}
					}
				}
			}
			.imgBox {
				position: relative;
				min-height: 545px;
				z-index: 3;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					position: absolute;
					top: 550px;
					transition: top 0.8s 0.5s; //
				}
			}
			article.notice {
				.imgBox {
					img {
						left: 50px;
					}
				}
			}
			article.event1 {
				.imgBox {
					img {
						left: 160px;
					}
				}
			}
			article.event2 {
				.imgBox {
					img {
						left: 50px;
					}
				}
			}
			article.event3 {
				.imgBox {
					img {
						left: 50px;
					}
				}
			}
			article.swiper-slide-active {
				.imgBox {
					img {
						top: 0;
					}
				}
			}
		}
		&::after {
			content: '';
			position: absolute;
			top: 57%;
			left: -20%;
			right: -20%;
			bottom: -100%;
			transform: rotate(-7.8deg);
			z-index: 3;
			transition: background-color 0.5s;
			background-color: #e2fdfe;
		}
		.swiper-pagination {
			top: 56%;
			left: auto;
			right: -250px;
			position: absolute;
		}

		.swiper-button-prev {
			position: absolute;
			top: 280px;
			left: 50%;
			width: 54px;
			height: 54px;
			margin-left: -635px;
			background: url(../../../../public/img/sub_page/카드/btn_slideSet.png)
				no-repeat 0 0;
			z-index: 10;
			border: none;
			cursor: pointer;
			font-size: 0;
			&::after {
				width: 0;
				height: 0;
				font-size: 0;
			}
			&.btnNext {
				margin-left: 581px;
				background-position: -54px 0;
			}
		}
		.swiper-button-next {
			position: absolute;
			top: 280px;
			right: 18%;
			width: 54px;
			height: 54px;
			background: url(../../../../public/img/sub_page/카드/btn_slideSet.png)
				no-repeat 0 0;
			transform: rotate(180deg);
			z-index: 10;
			cursor: pointer;
			font-size: 0;
			&::after {
				width: 0;
				height: 0;
				font-size: 0;
			}
			&.btnNext {
				margin-left: 581px;
				background-position: -54px 0;
			}
		}
	}
	.swiperBtn {
		top: 56%;
		right: 750px;
		z-index: 100;
		gap: 10px;
		position: absolute;
		[type='button'] {
			position: relative;
			display: none;
			width: 18px;
			height: 18px;
			vertical-align: middle;
			overflow: hidden;
			border: 1px solid rgba(0, 0, 0, 0);
			background-color: transparent;
			&.on {
				display: inline-block;
			}
		}
		.play {
			&::after {
				content: '';
				position: absolute;
				top: 3px;
				left: 6px;
				width: 0;
				height: 0;
				border-top: 5px solid rgba(51, 51, 51, 0);
				border-bottom: 5px solid rgba(51, 51, 51, 0);
				border-right: 6px solid rgba(51, 51, 51, 0);
				border-left: 6px solid rgba(51, 51, 51, 1);
			}
			cursor: pointer;
		}
		.stop {
			&::before {
				content: '';
				position: absolute;
				top: 3px;
				left: 4px;
				bottom: 4px;
				width: 3px;
				background-color: rgba(51, 51, 51, 1);
			}
			&::after {
				content: '';
				position: absolute;
				top: 3px;
				left: auto;
				right: 3px;
				bottom: 4px;
				width: 3px;
				background-color: rgba(51, 51, 51, 1);
			}
			cursor: pointer;
		}
	}

	.eventBtn {
		position: absolute;
		top: 37.5%;
		right: 50%;
		transform: translate(540px, 174px);
		display: inline-block;
		height: 36px;
		padding: 0 20px 0;
		border-radius: 19px;
		background-color: #000;
		line-height: 36px;
		transition: background-color 0.2s;
		z-index: 6;
		.txt {
			padding-right: 18px;
			background: url(../../../../public/img/sub_page/카드/eventbtn.png)
				no-repeat right center;
			color: #fff;
			.point {
				color: #61ffec;
			}
		}
	}

	.navi {
		position: absolute;
		top: 34%;
		left: 50%;
		transform: translate(-540px, 178px);
		// transform: translateX(50%);
		z-index: 5;
		.ico {
			display: inline-block;
			position: relative;
			width: 30px;
			height: 30px;
			opacity: 0.3;
			cursor: pointer;
			border: none;
			&.on {
				opacity: 0.7;
			}
		}
		.list {
			background: url(../../../../public/img/sub_page/카드/btn_list_2.png)
				no-repeat center center;
		}
		.card {
			background: url(../../../../public/img/sub_page/카드/btn_card_2.png)
				no-repeat center center;
		}
	}
	.subMenu {
		position: absolute;
		top: 65%;
		left: 50%;
		transform: translateX(-50%);
		width: 1080px;
		margin: 5px auto 0;
		padding-bottom: 50px;
		z-index: 6;
		display: flex;
		li {
			width: 180px;
			height: 90px;
			border-right: 1px solid #ddd;
			a {
				padding-top: 7px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				font-size: 16px;
				color: #222;
				span {
					margin-bottom: 15px;
				}
			}
			&:last-child {
				border: none;
			}
		}
	}
}
