#middle {
	width: 100%;
	height: 963px;
	position: relative;
	overflow: hidden;
	font-family: 'NanumSquare', sans-serif;
	.inner {
		width: 1080px;
		height: 903px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h2 {
			width: 100%;
			height: 105px;
			overflow: hidden;
			> a {
				> .imgBox {
					width: 467px;
					height: 210px;
					position: relative;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					&:hover {
						top: -105px;
					}
				}
			}
		}
		.plus_area {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin-bottom: 65px;
			.menu {
				display: flex;
				padding: 22px 0;
				margin: 40px 0 30px 0;
				border-top: 2px solid #666;
				border-bottom: 1px solid #e4e4e4;
				li {
					width: 270px;
					height: 85px;
					a {
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;
					}
					p {
						font-size: 17px;
						color: #222;
					}
				}
			}
			.service_list {
				width: 100%;
				border-bottom: 1px solid #e4e4e4;
				li {
					width: 360px;
					height: 76px;
					float: left;
					display: flex;
					justify-content: center;
					a {
						display: flex;
						justify-content: center;
						align-items: center;
						// width: 188px;
						height: 56px;
						gap: 20px;
						.imgBox {
							width: 56px;
							height: 56px;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
						p {
							width: 150px;
							font-size: 18px;
							color: #222;
							flex-wrap: nowrap;
						}
					}
				}
			}
		}
		.notice {
			display: flex;
			justify-content: space-between;
			height: calc(154px + 37px);
			.tab {
				width: 625px;
				display: flex;
				flex-direction: column;
				position: relative;
				.tab_menu {
					display: flex;
					> li {
						height: 37px;
						padding: 3px 30px 0 30px;
						color: #444;
						font-size: 18px;
						display: flex;
						align-items: center;
						border-radius: 37px;
						cursor: pointer;
						letter-spacing: -2px;
						&.on {
							font-weight: 700;
							background-color: #000;
							color: #fff;
						}
					}
				}
				> .plus_button {
					position: absolute;
					top: 5px;
					right: 0;
					width: 30px;
					height: 30px;
					border: 1px solid #eee;
					border-radius: 50%;
					background-image: url(../../../../public/img/sub_page/카드/카드모형/btn_more.png);
					background-repeat: no-repeat;
					background-position: center center;
					background-color: #fff;
					cursor: pointer;
				}
				.content {
					width: 625px;
					margin-top: 25px;
					display: flex;
					flex-direction: column;
					display: none;
					gap: 10px;
					li {
						width: 625px;
						height: 24px;
						padding-left: 14px;
						display: flex;
						justify-content: space-between;
						align-items: center;
						position: relative;
						font-size: 16px;
						color: #222;
						white-space: nowrap;
						&::before {
							position: absolute;
							display: inline-block;
							content: '';
							position: absolute;
							left: 0;
							top: 11px;
							width: 4px;
							height: 4px;
							border-radius: 50%;
							background-color: #666;
						}
						span {
							font-size: 14px;
							color: #666;
						}
					}
					&.on {
						display: flex;
					}
				}
			}
			.banner {
				width: 370px;
				height: 1000px;
				overflow: hidden;
				position: relative;
				h2 {
					width: 100%;
					height: 36px;
					position: relative;
					font-size: 20px;
					font-weight: 700;
					color: #222;
					display: flex;
					align-items: center;
					margin-bottom: 25px;
				}
				.controls {
					position: absolute;
					top: 8.5px;
					right: 145px;

					z-index: 5;
					[type='button'] {
						position: relative;
						display: inline-block;
						width: 18px;
						height: 18px;
						vertical-align: middle;
						overflow: hidden;
						border: 1px solid rgba(0, 0, 0, 0);
						background-color: transparent;
						// &.on {
						// 	display: inline-block;
						// }
					}
					.stop {
						&::after {
							content: '';
							position: absolute;
							top: 3px;
							left: 6px;
							width: 0;
							height: 0;
							border-top: 5px solid rgba(51, 51, 51, 0);
							border-bottom: 5px solid rgba(51, 51, 51, 0);
							border-right: 6px solid rgba(51, 51, 51, 0);
							border-left: 6px solid rgba(51, 51, 51, 1);
						}
					}
					.start {
						&::before {
							content: '';
							position: absolute;
							top: 3px;
							left: 4px;
							bottom: 4px;
							width: 3px;
							background-color: rgba(51, 51, 51, 1);
						}
						&::after {
							content: '';
							position: absolute;
							top: 3px;
							left: auto;
							right: 3px;
							bottom: 4px;
							width: 3px;
							background-color: rgba(51, 51, 51, 1);
						}
					}
				}
				.info {
					width: 100%;
					height: 100px;
					display: flex;
					position: relative;
					overflow: initial;

					.swiper-wrapper {
						// overflow: hidden;

						.swiper-slide {
							width: 100%;
							height: 100%;
							display: flex;
							padding-left: 5px;
							position: relative;
							.infoTxt {
								width: 260px;
								.txt {
									font-size: 17px;
									color: #555;
								}
								.link {
									margin: 15px 5px;
									span {
										height: 29px;
										padding: 4px 15px 0;
										border: 1px solid #eee;
										border-radius: 15px;
										color: #666;
										font-size: 14px;
									}
								}
							}
							.imgBox {
								width: 100px;
								height: 100px;
								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
								}
							}
						}
					}

					.swiper-pagination {
						top: -54px;
						left: auto;
						right: auto;
						left: 100px;
						z-index: 999;
					}
				}
			}
		}
	}
}
